<div>

    <div class="modal-header">
        <h4 class="modal-title">Stock Availability</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div ng-app="myApp" ng-controller="myController" class="container">
            <form [formGroup]="stockAvailabilityForm">
                <div class="login-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Stock</label>
                                <select formControlName="stock" class="form-control" required>

                                    <option value="">Choose Stock</option>

                                    <option *ngFor="let stock of stocks" [ngValue]="stock._id">
                                        {{ stock.name }}
                                    </option>


                                </select>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Quantity</label>
                                <input type="number" name="qty" formControlName="qty" required class="form-control">

                            </div>
                        </div>

                        <br>

                    </div>

                </div>

                <br>
                <div class="row" *ngIf="displayMessage">
                    <div class="col-md-12">
                        <div *ngIf="!isStockAvailable" class="alert alert-danger">Stock Not Available</div>
                        <div *ngIf="isStockAvailable" class="alert alert-success">Stock Available</div>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="checkStockAvailability()">Check</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>

</div>
