<div class="div">
    <h2>Sales</h2>
    <br>
    <button class="btn btn-info" (click)="getStockAvailability()"> Check Stock Availability </button>
    <br>
    <br>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Stock</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of sales">
            <td>{{data.stock.name}}</td>
            <td>{{data.qty}}</td>
            <td>{{data.amount}}</td>
            <td>{{data.paymentStatus}}</td>
            <td *ngIf="data.paymentStatus ==='not paid'">
                <button class="btn btn-success" (click)="payForSale(data)"> Pay</button>
            </td>

        </tr>

        </tbody>
    </table>
</div>
