<div>

    <div class="modal-header">
        <h4 class="modal-title">Create Stock</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div ng-app="myApp" ng-controller="myController" class="container">
            <form [formGroup]="createStockForm">
                <div class="login-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="name" name="name" formControlName="name"  required class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Quantity</label>
                                <input type="number" name="qty" formControlName="qty" required class="form-control">

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Unit Price</label>
                                <input type="number" name="unitPrice" formControlName="unitPrice" required class="form-control">

                            </div>
                        </div>
                        <br>

                    </div>

                </div>
            </form>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="creatStock()">Create</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>

</div>
